extends layout
<<<<<<< HEAD
block layout-content
  h1= "Here you can see what is in it your basket:"
=======

block layout-content
  p Hej i BASKET
>>>>>>> origin/william
  each item in order
    h2= item.name
    p= item.quantity
    p= item.price + " Hello"
