extends layout
block layout-content
  div.View
    h1.Banner Company Name 
      div.View
        // button(href="/index") HOME 
        // button(href="moveUser()", colour: ) USER 
        // button(href="/user") PANS 
        // button(onclick="movePans()") Pans 
  // Scripts: Move
        p
  script.
      function movePans() {
        window.location.href = '/user'
    }
   script.
    function moveToFront() {
      window.location.href = '/frontpage'
    }
    script.
      function moveUser(){
        window.location.href = '/user'
      }