doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include navbar.jade
    a.navbar(href='/') Visit Home
    a.navbar2(href='/users') Visit Users
    a.navbar(href='/products') Visit Products
    block content
