block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    // .title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
    script.
      var loggedInUser = -1
      var urlUser = "&id=-1"
      function login( userID ) {
        loggedInUser = userID
        let url = new URLSearchParams();
        url.set('id', userID);
        urlUser = "&" + url.toString();
      }
  body
    
    include navbar.pug
    block layout-content