doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Visit Home
    a(href='/users') Visit Users
    a(href='/products') Visit Products
    block content
