//- a.navbar(href='/') Visit Home
//- a.navbar2(href='/users') Visit Users
//- a.navbar(href='/product') Visit Products
//- a.navbar(href='/basket') Visit Basket

div.View
  p= basketLength 
  a.casketButton(href="/basket") BASKET 
  h1.Banner Company Name 
    div.View
div#roots
  div.view
    div.mview
      a.button.seleected(href="/") HOME 
      a.button(href="/pans") PANS 
      a.button(href="/pots") POTS 
      a.button(href="/userprofile") USER 
      a.button(href="/product") PRODUCT test 
      a.button(href="/marcellsTest") Marcells Test
      // a.button(href="/antonTest") antonTest 
      p .
    div.myView.myPic 
      p . 
      p , 
      p ,   