extends layout

block layout-content
  script.
    
    function onAddToBasketClick( userid, id ) {
      fun = #{addToBasket}
      fun( userid, id )
    }
  div.divForheader
    each list in products
      div.center
        each product in list
          if product.category.name == selectedCategory 
            div.center
              .imageClass
                p= product.name
                p= "Pris: " + product.price
                img.picView(src="p".replace("p", product.photoUrls) alt='login' style='width:120px; height:120px;')
                .centerBuy
                  button.basketB(onclick='onAddToBasketClick( ' + user.id + ', ' + product.id + ' )') Add to basket