extends layout
block layout-content
  div.center
    // Make Loops With products from database
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p img text
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p img text
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text
  div
  div.center
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text 
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text
  div.center
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text
    .imageClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
      p image text
    .iamgeClass
      img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;') 
      p image text
