extends layout

block layout-content
  h1.Banner Company Name 
  div.center
    // Make Loops With products
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
  div.center
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
  div.center
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='./ranPot4.jpg' alt='login' style='width:100px; height:100px;')
// 
    
