extends layout

block layout-content
    script.
      
      function onAddToBasketClick( id ) {
        fun = #{addToBasket}
        fun(id)
      }
    - var n = 0
    div.divForheader
    each list in products
      div.center
        each product in list
          div.center
            .imageClass
              p= product.id
              // img.picView(src= ('`' + product.photoUrls + '`') alt='login' style='width:100px; height:100px;')
              img.picView(src='/images/ranPot4.jpg' alt='login' style='width:120px; height:120px;')
              .center
                button.basketB(onclick='onAddToBasketClick( ' + product.id + ' )') Add to basket
      