extends layout
block layout-content
    h1 Log In
    h2 Please select a User
    each user in users
        h3= user.username 
        p= user.userStatus
        button(onclick='login( ' + user.id + ' )') select
    //- - let user = {name: "Marcell", loggedin: True, lastLogin: 6}
    //-     a(href="/login") Log In
    //- p asdas 