doctype html
html
    head
        title Log In 
    body
        h2 Log In 
        - let user = {name: "Marcell", loggedin: True, lastLogin: 6}
        if user.loggedIn       
            p
                | Welcome back,
                strong #( user.name )
        else if user.lastLogin < 10
            p Your last login was #{ user.lastLogin } minutes ago
            p
                a(href="/login") Log in Again
        else
            a(href="/login") Log In
        p asdas
    script.
        function onButtonClick(){
        //- console.log('#{title}')
        fun = #{clickBtn}
        fun()
        //- console.log(val)
        }