doctype html
html
    head
        title Log In 
    body
        h2 Log In 
        - let user = {name: "Marcell", loggedin: True, lastLogin: 6}
            a(href="/login") Log In
        p asdas
    script.
        function onButtonClick(){
        //- console.log('#{title}')
        fun = #{clickBtn}
        fun()
        //- console.log(val)
        }