//- extends layout

//- block content
//-     each user in users
//-         h1= user.firstname
//-         p Welcome #{user.firstName} #{user.lastName} 

extends layout

block layout-content
  div.center
    // Make Loops With products
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
  div.center
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
  div.center
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    img.picView(src='/images/fried-rice.jpg' alt='login' style='width:100px; height:100px;')
    
